/* General App Layout */
Screen {
    layout: vertical;
}

Header {
    dock: top;
    height: 1;
    background: $primary;
    color: $text;
}

Footer {
    dock: bottom;
    height: 1;
    background: $primary-darken-1;
}

/* Project List View */
#project-list {
    background: #000000;
    padding: 1;
    width: 1fr;
    height: 1fr;
}



ProjectListItem {
    layout: vertical;
    padding: 1 4;
    margin-left: 1;
    margin-right: 1;
    # margin-bottom: 1;
    background: #000000;
    border: round $primary;
    height: 5;
}

ProjectListItem:hover {
    background: $primary-darken-1;
    border: round $secondary;
}

ProjectListItem:focus, ProjectListItem:focus-within {
    background: $secondary;
    color: $background;
    border: thick $primary-lighten-2;
}

.project-name {
    color: $text;
}

.project-path {
    color: $text-muted;
}

.project-status {
    color: $warning;
}

.project-version {
    color: $text-muted;
}

#main-content {
    height: 1fr;
}

#project-detail {
    background: $surface;
    padding: 1;
    width: 2fr;
}

#detail-content {
    height: 1fr;
    layout: vertical;
    padding-left: 1;
    padding-right: 1;
}

#detail-placeholder {
    height: 1fr;
    align-horizontal: center;
    align-vertical: middle;
    color: $text-muted;
}

#project-title {
    text-style: bold;
    margin-bottom: 1;
    background: $primary;
    padding: 1 2
}

#project-description {
    color: $secondary;
    margin-bottom: 1;
}

#project-meta {
    color: $text-muted;
    margin-bottom: 1;
}

#overview-version,
#overview-python {
    margin-bottom: 1;
}

#overview-dependencies {
    height: 10;
    margin-bottom: 1;
}

#open-vscode {
    padding: 0 3;
    margin-top: 1;
    background: $primary;
    color: $text;
    min-width: 24;
    width: 2fr;
    align: left middle;
}

#request-delete {
    padding: 0 3;
    margin-top: 1;
    margin-left: 1;
    background: $error-darken-3;
    color: $text;
    min-width: 24;
    width: auto;
    align: left middle;
}

#overview-content {
    layout: vertical;
    height: 1fr;
}

TabPane#overview {
    height: 1fr;
}

#overview-actions {
    layout: horizontal;
    align: left middle;
    height: auto;
    dock: bottom;
    padding-top: 1;
    padding-left: 1;
}

#overview-dependencies {
    height: 1fr;
    margin-bottom: 0;
}

TabbedContent {
    height: 1fr;
}

DataTable {
    height: 1fr;
    margin-bottom: 1;
}

.button-bar {
    height: auto;
    align: right middle;
    padding-top: 1;
}

.button-bar Button {
    margin-left: 1;
}

Log {
    border: round $primary;
    background: $panel;
    height: 1fr;
}

#commands Input {
    margin-top: 1;
    margin-bottom: 1;
}

/* Modal Dialogs */
ModalScreen {
    layout: vertical;
    overflow-y: auto;
    background: $background 60%;
    align: center middle;
}

#dialog {
    padding: 0 1;
    width: 60;
    height: auto;
    border: thick $primary-lighten-2;
    background: $panel;
    align: center middle;
}

#dialog > Label {
    width: 100%;
    text-align: center;
    margin-bottom: 1;
    text-style: bold;
}

#dialog > Horizontal {
    width: 100%;
    align: center middle;
    height: auto;
}

#dialog Input {
    margin-bottom: 1;
}

.error-dialog {
    border-title-color: $error;
}
